.parentDiv{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(29, 69, 100);
    border: 10px solid rgb(244, 29, 14);
    justify-content: center;
    border-radius: 14px;
}

.startbtn{ 
    display: flex;
    border: 2px solid;
    background-color: rgb(107, 11, 196);
    margin : 12px;
    position : relative;
    left: 660px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
}
.innerDiv{
    background-color: #f1f1f1;
    width: 75px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-self: flex-end;
}

#marquee{
    font-size: 40px;
    color: black;
}